<div class="title">
  <div>
    <p>name: <%= @product["name"] %></p>
    <p>upc: <%= @product["upc"] %></p>
    <p>asin: <%= @product["asin"] %></p>
    <p>brand name: <%= @product["brand"] %></p>
    <p>price: <%= @product["price"] %></p>
    <p><%= img_tag @product["image_url"] %></p>
  </div>
</div>