<div class="title">
  <h2>Search</h2>
  <%= if Enum.count(@products) > 0 do %>
    <%= for product <- @products do %>
      <div>
        <p>name: <%= link product["name"], to: product_path(@conn, :show, product["uuid"]) %></p>
        <p>upc: <%= product["upc"] %></p>
        <p>asin: <%= product["asin"] %></p>
        <p>brand name: <%= product["brand"] %></p>
        <p>price: <%= product["price"] %></p>
        <p><%= img_tag product["image_url"] %></p>
        <p>uuid: <%= product["uuid"] %></p>
      </div>
    <% end %>
  <% else %>
    <div>
      <p><%= no_results_message() %></p>
    </div>
  <% end %>
</div>